<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTrak.WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTrak.WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TimeTrak.WindowsApp.Properties.Settings>
            <setting name="LocalDB" serializeAs="String">
                <value>%appdata%\TimeTrak\LocalDB.sql</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>{Anonymous}</value>
            </setting>
        </TimeTrak.WindowsApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TimeTrak.WindowsApp.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>TimeTrak™</value>
            </setting>
            <setting name="AppTag" serializeAs="String">
                <value>Personal Time Tracker for Windows</value>
            </setting>
            <setting name="AppNamePlain" serializeAs="String">
                <value>TimeTrak</value>
            </setting>
        </TimeTrak.WindowsApp.Properties.Settings>
    </applicationSettings>
</configuration>